.playwrite-au-sa {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body {
  display: block;
  margin: 0 auto;
  /*background-color: #d6cdc9;*/
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/162/676/original/pascal-bullan-Z72zABXY50Y-unsplash.jpg?1744236201");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: overlay;
}

h1 {
  color: #772e25;
  font-family: "Playwrite AU SA";
  padding: 10px;
  margin: 20px 30px;
}
hr {
  color: rgba(140, 28, 19, 0.3);
  margin: 20px 20px;
  border-color: rgba(140, 28, 19, 0.1);
}

li {
  list-style: none;
}
p.temperature-now {
  font-family: "Playwrite AU SA";
  font-weight: bold;
  font-size: 30px;
  color: #772e25;
}
p.temperature-now {
  display: flex;
  position: relative;
  justify-content: flex-end;
  top: -150px;
  right: 10px;
}
p.current-date {
  font-family: "Courier New", Courier, monospace;
  color: #8a7269;
  margin: 10px;
}
form input {
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(227, 222, 208, 0.4);
  border: none;
  border-radius: 4px;
  padding: 15px 115px 15px 10px;
  margin: 10px auto;
  font-size: 15px;
}
button {
  background-color: #772e25;
  padding: 15px;
  color: #edddd4;
  border: none;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
}
p.coded-by {
  font-family: "Courier New", Courier, monospace;
  color: #8a7269;
  margin: 10px;
}
strong {
  color: #772e25;
  font-weight: bolder;
}
a {
  color: #bf4342;
}
.container {
  display: block;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(167, 138, 127, 0.9);
  text-align: justify;
  padding: 20px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/162/676/original/pascal-bullan-Z72zABXY50Y-unsplash.jpg?1744236201");
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: overlay;
  margin: 50px auto;
  max-width: 400px;
}
.current-weather {
  margin: 0px 0px -100px 0px;
}
.material-symbols-outlined.main {
  font-size: 45px;
  padding: 5px;
}
.material-symbols-outlined {
  font-size: 25px;
  padding: 5px;
}
.forecast-weather {
  display: flex;
  justify-content: space-between;
  margin: 40px 10px 40px -30px;
  text-align: center;
}
.forecast-weather {
  font-family: monospace;
  font-size: 12px;
  color: #8a7269;
}
