body {
  display: block;
  margin: 50px auto;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: overlay;
}

.container {
  display: block;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 10px 10px rgba(167, 138, 127, 0.9);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: overlay;
}

hr {
  margin: 20px;
  border-color: rgba(140, 28, 19, 0.1);
  color: rgba(140, 28, 19, 0.3);
}

/* Search */

form input {
  margin: 10px auto;
  padding: 15px 115px 15px 10px;
  border: none;
  border-radius: 4px;
  background-color: rgba(227, 222, 208, 0.4);
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
}

button {
  padding: 15px;
  border: none;
  border-radius: 4px;
  background-color: #772e25;
  color: #edddd4;
  font-family: "Courier New", Courier, monospace;
}

button:hover {
  cursor: pointer;
}

/* Current weather */

.current-weather {
  margin: 0 0 -100px;
}

h1 {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 140px 20px 10px;
  padding: 5px;
  color: #772e25;
  font-family: "Playwrite AU SA", cursive;
  font-size: 30px;
}

p.current-date {
  margin: 10px;
  padding: 0 0 10px;
  text-align: left;
  color: #8a7269;
  font-family: "Courier New", Courier, monospace;
}

p.temperature-now {
  position: relative;
  top: -150px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
  color: #772e25;
  font-family: "Playwrite AU SA", cursive;
  font-size: 27px;
  font-weight: bold;
}

.material-symbols-outlined {
  padding: 5px;
  font-size: 25px;
}

.material-symbols-outlined.main {
  padding: 8px 10px 0 5px;
  font-size: 40px;
}

strong {
  color: #772e25;
  font-weight: bolder;
}

/* Forecast */

.forecast-weather {
  display: inline-block;
  margin: 40px 0 40px 1px;
  padding: 0 2px;
  text-align: center;
  color: #8a7269;
  font-family: monospace;
}

.forecast-date {
  display: block;
  margin: 0 auto 7px;
  font-size: 14px;
}

.forecast-icon {
  display: block;
  margin: 0 auto;
}

.unit {
  display: block;
  margin: 7px auto 0 5px;
  font-size: 13px;
}

/* Footer */

p.coded-by {
  margin: 10px;
  color: #8a7269;
  font-family: "Courier New", Courier, monospace;
  font-size: 11px;
}

.foot-link {
  color: #bf4342;
}

/* Portfolio logo */

.logo {
  display: block;
  width: 100px;
  height: 100px;
  margin: 5px auto;
}